@import url("https://fonts.googleapis.com/css?family=Roboto:900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
body {
  margin: 0; }

header {
  display: flex;
  padding: 3% 0 3% 0; }
  header .head {
    margin: auto;
    text-align: center; }
  header h4 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #cccccc;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px; }
  header h1 {
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 66px;
    text-transform: uppercase;
    color: #ffcc00; }
  header p {
    vertical-align: middle;
    font-size: 20px;
    line-height: 1.2; }
    header p::before {
      content: '';
      height: 2px;
      width: 210px;
      display: inline-block;
      border-top: 2px solid #ffcc00; }
    header p::after {
      height: 2px;
      width: 210px;
      display: inline-block;
      border-top: 2px solid #ffcc00;
      content: ''; }
  header i {
    color: #ffcc00;
    display: inline-block;
    padding: 0 10px; }

.main {
  margin: 0 auto;
  padding-top: 7%;
  max-width: 1140px;
  display: flex;
  justify-content: space-around;
  flex-direction: row; }
  .main-icon {
    position: relative; }
    .main-icon .fa {
      color: #ffcc00;
      font-size: 40px;
      position: absolute;
      top: 36%; }
  .main .image {
    width: 35%;
    height: 399px;
    position: relative; }
  .main .right::before {
    display: block;
    content: '';
    position: absolute;
    width: 32%;
    height: 32%;
    border: solid #ffcc00;
    right: -14px;
    border-width: 2px 2px 0 0;
    top: -14px; }
  .main .right::after {
    display: block;
    content: '';
    position: absolute;
    width: 32%;
    height: 32%;
    border: solid #ffcc00;
    right: -14px;
    border-width: 0 2px 2px 0;
    bottom: -14px; }
  .main .left::before {
    display: block;
    content: '';
    position: absolute;
    width: 32%;
    height: 32%;
    border: solid #ffcc00;
    border-width: 2px 0 0 2px;
    top: -14px;
    left: -14px; }
  .main .left::after {
    display: block;
    content: '';
    position: absolute;
    width: 32%;
    height: 32%;
    border: solid #ffcc00;
    border-width: 0 0 2px 2px;
    left: -14px;
    bottom: -14px; }

.man {
  cursor: crosshair; }
  .man img {
    width: 99%;
    border: 2px solid #ffcc00; }

.line {
  border-right: 2px solid #ffcc00;
  height: 560px;
  width: 2px;
  margin-top: -80px; }

.content {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .content h2 {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 24px;
    color: #666666;
    margin: 0; }
    .content h2::after {
      content: '';
      display: block;
      border-top: 2px solid #ffcc00;
      height: 2px;
      width: 95px;
      margin: 30px 0 30px 67px; }
  .content h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #666666;
    margin: 0; }
  .content .awesome {
    font-size: 14px;
    line-height: 14px;
    color: #cccccc;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0; }
    .content .awesome .fa {
      border-radius: 50%;
      border-width: 2px;
      border-color: #cccccc;
      border-style: solid;
      width: 26px;
      height: 26px;
      text-align: center;
      padding-top: 4px;
      box-sizing: border-box;
      margin-right: 5px; }
      .content .awesome .fa:hover {
        opacity: .5; }
  .content p {
    font-family: "Source Sans Pro", sans-serif;
    color: #333;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin: 0; }
  .content .line-dash {
    display: flex;
    justify-content: center;
    margin-top: 25px; }
    .content .line-dash span {
      border-top: 2px solid #ffcc00;
      height: 2px;
      display: inline-block;
      margin-right: 5px;
      width: 10px; }
    .content .line-dash .dash {
      border-top: 2px solid #ffcc00;
      height: 2px;
      display: inline-block;
      margin-right: 5px;
      width: 20px;
      text-align: center; }
  .content input {
    font-family: "Open Sans", sans-serif;
    color: #666666;
    width: 120px;
    margin: auto;
    text-align: center;
    border: 2px solid #ffcc00;
    background: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px; }

.point {
  display: flex;
  height: 140px; }
  .point img {
    margin: auto; }

/*# sourceMappingURL=style.css.map */
