html {
	width: 100%;
	height: 100%;
}
div {
	border: 50px solid #ebcdb3;
	width: 800px;
	height: 800px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
table {
	border: 10px solid #000000;
	width: 800px;
	height: 800px;
}
[class^='a'] {
	height: 100px;
	width: 100px;
	background: #231f1c;
}
[class^='b'] {
	height: 100px;
	width: 100px;
	background: #e5caaf;
}
[class^='c'] {
	height: 100px;
	width: 100px;
	background: #e5caaf;
}

[class^='d'] {
	height: 100px;
	width: 100px;
	background: #231f1c;
}
td {
	position: relative;
}
a.checker-red {
	position: absolute;
	background-color: #ad131c;
	border-radius: 50px;
	height: 90px;
	width: 90px;
	z-index: 10;
	top: 5px;
	left: 3px;
}
a.checker-black {
	position: absolute;
	background-color: #493029;
	border-radius: 50px;
	height: 90px;
	width: 90px;
	z-index: 10;
	top: 2px;
	left: 3px;
}

